@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
  }

  /* ------------HEADER ----------------*/

  .address-list {
    display: flex;
  }

  .address-list > li:not(:last-child) {
    margin-right: 40px;
  }

  .address-name {
    margin-top: 0;
  }

  .header-link,
  .header-mail,
  .header-tel {
    padding: 24px 0px;
  }

  /* --------Hero section------ */

  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-desk-1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient
          (rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/hero-bg-desk-2x.jpg);
    }
  }

  /* --------Advantages section------ */

  .advantages {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .advantages-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .advantages-description {
    font-weight: 400;
  }

  .advantages-list {
    display: flex;
    flex-wrap: nowrap;
  }

  .advantages-items {
    width: calc((100% - 72px) / 4);
  }

  .advantages-icon {
    display: block;
  }

  /* --------Examples section------ */
  .examples {
    padding-bottom: 120px;
    display: block;
  }

  /* __________TEAM_________ */
  .team {
    padding: 120px 0px;
  }

  .team-card:not(:last-child) {
    margin-right: 24px;
  }

  .team-list > .team-card {
    margin-bottom: 0;
  }

  /* _________CUSTOMERS___________ */

  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .customers-items:not(:last-child) {
    margin-right: 24px;
  }

  .customers-list > .customers-items {
    margin-bottom: 0;
  }

  /* _______PORTFOLIO_________ */

  .portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
  }

  .portfolio-filter {
    margin-bottom: 72px;
  }

  .works-list {
    row-gap: 48px;
  }

  .works-items {
    width: calc((100% - 58px) / 3);
  }

  /* --------FOOTER------ */

  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer .container {
  }

  .footer-first .logo {
    text-align: start;
  }

  .footer-first {
    width: 264px;
    margin-right: 120px;
    margin-bottom: 0;
  }

  .footer-second {
    margin-bottom: 0;
  }

  .footer-third {
    margin-left: 80px;
    margin-right: 0;
    margin-bottom: 0;
  }
  /* _____Modal______ */

  .modal {
    min-width: 408px;
    min-height: 584px;
  }
}
