@media screen and (min-width: 768px) {
  .container {
    width: 766px;
  }

  /* --------Advantages section------ */

  .advantages-list {
    column-gap: 24px;
  }

  .advantages-items {
    width: calc((100% - 24px) / 2);
  }

  .advantages-title {
    text-align: start;
  }

  /* _______TEAM__________ */

  .team {
    padding-bottom: 104px;
  }

  .team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .team-list > .team-card {
    margin-right: 24px;
    margin-bottom: 64px;
  }

  .team-card:nth-child(2n) {
    margin-right: 0;
  }

  .team-card:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }

  /* _____CUSTOMERS___________ */

  .customers-list > .customers-items {
    width: 168px;
    margin-right: 24px;
  }

  .customers-items:nth-child(3n) {
    margin-right: 0;
  }

  .customers-items:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }

  /* --------FOOTER------ */

  .footer .container {
  }

  .footer-first {
    margin-right: 24px;
  }

  .footer-title {
    text-align: start;
  }

  .footer-form {
    display: flex;
  }

  .footer-form-title {
    text-align: start;
  }

  .footer-input {
    width: 264px;
    height: 40px;
    margin-right: 24px;
  }
}
